                                                                    EDA Performed For Data cleaning

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ballByball = pd.read_csv("IPL Ball-by-Ball 2008-2020.csv")
matches = pd.read_csv("IPL Matches 2008-2020.csv")

In [2]:
# percentage of missing values in each column.

matches.isnull().mean() * 100

id                  0.000000
city                1.593137
date                0.000000
player_of_match     0.490196
venue               0.000000
neutral_venue       0.000000
team1               0.000000
team2               0.000000
toss_winner         0.000000
toss_decision       0.000000
winner              0.490196
result              0.490196
result_margin       2.083333
eliminator          0.490196
method             97.671569
umpire1             0.000000
umpire2             0.000000
dtype: float64

 In matches dataset, there are 5 columns which are of not much use. They are
 Neutral_venue, method, result and eliminator. So, I will drop them.

In [3]:
matches=matches.drop(["neutral_venue", "method", "result", "eliminator"], axis=1)

In [4]:
#Checking for number of null values in each column

matches.isnull().sum()

id                  0
city               13
date                0
player_of_match     4
venue               0
team1               0
team2               0
toss_winner         0
toss_decision       0
winner              4
result_margin      17
umpire1             0
umpire2             0
dtype: int64

In [5]:
#Filling up the missing values in the city column
# Filling "city" column with "Mumbai" beacuse it is the most occuring value.

matches = matches.fillna({"city": matches["city"].mode()[0]})
matches

,id,city,date,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result_margin,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,140.0,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,33.0,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,9.0,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,5.0,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,5.0,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,57.0,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,6.0,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,17.0,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,5.0,CB Gaffaney,Nitin Menon

In [6]:
matches.isnull().sum()

id                  0
city                0
date                0
player_of_match     4
venue               0
team1               0
team2               0
toss_winner         0
toss_decision       0
winner              4
result_margin      17
umpire1             0
umpire2             0
dtype: int64

In [7]:
# dropping those 4 rows in which player of the match was not there.

matches=matches[matches["player_of_match"].notna()]
matches

,id,city,date,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result_margin,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,140.0,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,33.0,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,9.0,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,5.0,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,5.0,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,57.0,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,6.0,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,17.0,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,5.0,CB Gaffaney,Nitin Menon

In [8]:
matches.isnull().sum()

id                  0
city                0
date                0
player_of_match     0
venue               0
team1               0
team2               0
toss_winner         0
toss_decision       0
winner              0
result_margin      13
umpire1             0
umpire2             0
dtype: int64

We are getting 13 rows in which result_margin is null. This simply means that those 13 matches were tied and went to the super over.

In [9]:
ballByball.isnull().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
dtype: int64

In [10]:
ballByball["bowling_team"].dtype

dtype('O')

In [11]:
ballByball["bowling_team"].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
193463    False
193464    False
193465    False
193466    False
193467    False
Name: bowling_team, Length: 193468, dtype: bool

In [12]:
ballByball_1 = ballByball[ballByball['bowling_team'].isnull()]

In [19]:
ballByball_1

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
57048,501265,1,0,1,NV Ojha,DA Warner,AC Thomas,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,NaN
57049,501265,1,0,2,DA Warner,NV Ojha,AC Thomas,0,1,1,0,0,NaN,NaN,NaN,legbyes,Delhi Daredevils,NaN
57050,501265,1,1,1,DA Warner,NV Ojha,JP Faulkner,0,1,1,0,0,NaN,NaN,NaN,legbyes,Delhi Daredevils,NaN
57051,501265,1,1,2,NV Ojha,DA Warner,JP Faulkner,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,NaN
57052,501265,1,1,3,NV Ojha,DA Warner,JP Faulkner,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115654,829763,1,7,3,AB de Villiers,Mandeep Singh,STR Binny,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,NaN
115655,829763,1,8,6,AB de Villiers,Mandeep Singh,SR Watson,2,0,2,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,NaN
115656,829763,1,9,1,Mandeep Singh,AB de Villiers,STR Binny,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,NaN
115657,829763,1,8,4,AB de Villiers,Mandeep Singh,SR Watson,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,NaN
115658,829763,1,8,5,AB de Villiers,Mandeep Singh,SR Watson,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,NaN

In [13]:
ballByball_2 = ballByball[ballByball['inning'] == 1]
inning_1_bowling_team_counts = ballByball_2['bowling_team'].value_counts()

In [14]:
inning_1_bowling_team_counts

Kolkata Knight Riders          12162
Royal Challengers Bangalore    12138
Mumbai Indians                 11498
Kings XI Punjab                11419
Delhi Daredevils               10925
Rajasthan Royals               10916
Chennai Super Kings            10458
Sunrisers Hyderabad             6788
Deccan Chargers                 3984
Pune Warriors                   3083
Delhi Capitals                  1985
Gujarat Lions                   1970
Rising Pune Supergiant           962
Rising Pune Supergiants          872
Kochi Tuskers Kerala             840
Name: bowling_team, dtype: int64

In [15]:
#filling the bowling_team null values with the name of the team that mostly end up at bowling side in the first innings.
#Which is Kalkata Knight Riders.
greatest_count_team = inning_1_bowling_team_counts.index[0]

ballByball['bowling_team'] = ballByball['bowling_team'].fillna(greatest_count_team)

In [16]:
ballByball.isnull().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team             0
dtype: int64

In [17]:

# filter the rows where either team1 or team2 is 'Chennai Super Kings' and the year is 2008
csk_matches = matches[(matches['team1'] == 'Chennai Super Kings') | (matches['team2'] == 'Chennai Super Kings')]

print(csk_matches.count())

id                 178
city               178
date               178
player_of_match    178
venue              178
team1              178
team2              178
toss_winner        178
toss_decision      178
winner             178
result_margin      177
umpire1            178
umpire2            178
dtype: int64

The null values of dismissal_kind, player_dismissed,fielder and extras_type can be null as this data set is a ball by ball dataset, hence we will left them as it is.

In [26]:
with open('IPL Ball-by-Ball 2008-2020_updated.csv', mode='w') as file:
    # Save the modified data frame to the file
    ballByball.to_csv(file, index=False, line_terminator='\n')

C:\Users\shahz\AppData\Local\Temp\ipykernel_10160\3604439987.py:3: FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
  ballByball.to_csv(file, index=False, line_terminator='\n')

In [27]:
with open('IPL Matches 2008-2020_updated.csv', mode='w') as file:
    # Save the modified data frame to the file
    matches.to_csv(file, index=False, line_terminator='\n')

C:\Users\shahz\AppData\Local\Temp\ipykernel_10160\1411358918.py:3: FutureWarning: the 'line_terminator'' keyword is deprecated, use 'lineterminator' instead.
  matches.to_csv(file, index=False, line_terminator='\n')

Creating new files, and saving the cleaned data in to it.